/* IMPORTS START */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/* IMPORTS END */
/* GLOBAL VALUES START */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* BODY START */
body{
    display:flex;
    gap: 5px;
    font-family: 'Press Start 2P', cursive;
}
/* BODY END */
/* GLOBAL VALUES END */

/* GAME CANVAS START */
#game_canvas{
    background-color: rgb(255, 2, 200);
    display: inline-block;
}
/* GAME CANVAS END */

/* PACMAN START */
.pacman{
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 5;
}

.pacman > .top,.bottom{
    background-color: rgb(255, 208, 0);
    height: 25%;
    width: 50%;
    position: absolute;
}

.pacman > .top{
    top: 5px;
    left: 5px;
    border-radius: 100px 100px 0 0;
    transform-origin: center bottom;
    animation: spinTop .5s infinite linear;
}

.pacman > .bottom{
    bottom: 5px;
    right: 5px;
    border-radius: 0 0 100px 100px;
    transform-origin: center top;
    animation: spinBottom .5s infinite linear;
}

.pacman > .eye{
    background-color: rgb(139, 113, 0);
    width: 9%;
    height: 9%;
    border-radius: 50%;
    top: 30%;
    right: 50%;
    display: inline;
    position: absolute;
    z-index: 2;
}


@keyframes spinTop {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-35deg);
    }
}

@keyframes spinBottom {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(35deg);
    }
}
/* PACKMAN END */

/* COLUMNS AND ROWS START */
.row{
    height: 20px;
}
.column{
    width: 20px;
    height: 20px;
    background-color: black;
    border: none;
    display: inline-block;
    position: relative;
}

.wall{
    width: 100%;
    height: 100%;
    border: 3px double blue;
    position: relative;
    background-color: rgb(8, 0, 48);
}

.coin{
    width: 3px;
    height: 3px;
    background-color: gold;
    border-radius: 50%;
    top: calc(50% - 1.5px);
    left: calc(50% - 1.5px);
    position: relative;
    animation: coinShine 2s infinite linear;
}

@keyframes coinShine {
    0%{
        background-color: gold;
    }
    50%{
        background-color: rgb(255, 242, 170);
    }
    100%{
        background-color: gold;
    }
}
/* COLUMNS AND ROWS END */

/* INTERFACE START */
#interface{
    background-color: black;
    border: 6px double blue;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.interface_section{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.interface_section > h2{
    border: 3px double blue;
    color: blue;
    padding: 5px;
    font-size: 1rem;
    text-align: center;
}

.info_container{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.info_item{
    display: flex;
    font-size: 0.5rem;
}

.info_name{
    width: 40%;
    background-color: white;
    padding: 5px;
}

.info_value{
    width: 60%;
    padding: 5px;
    background-color: black;
    color: white;
    text-align: right;
}

#fileInput{
    background-color: blue;
    color: #fff;
    height: 20px;
}
/* INTERFACE END */